body {
	background-color: #663399;
}

.outer {
	display: table;
	position: absolute;
	height: 99%;
	width: 99%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	background-color: #3D007A;
	vertical-align: middle;
	border-style: ridge;
	border-width: thick;
	border-color: #000066;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: "Verdana";
	font-style: normal;
	font-size: 100%;
	font-weight: normal;
	color: #FFCC00;
	margin: 0.5em;
	text-align: center;
}

.clockText {
	font-family: "Trebuchet MS";
	font-style: normal;
	font-size: 11em;
	font-weight: normal;
	margin: 0.1em;
	text-align: center;
	color: #FFCC00;
	letter-spacing: -0.025em;
}